<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174324965951-v02qiq0esn4t8krfc33n0b2ccmaradg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174324965951-v02qiq0esn4t8krfc33n0b2ccmaradg6</string>
	<key>API_KEY</key>
	<string>AIzaSyCpFs-l_dn3BltuDaxnze55rSXz7BP_P-s</string>
	<key>GCM_SENDER_ID</key>
	<string>174324965951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productsDetails</string>
	<key>PROJECT_ID</key>
	<string>b2bservice-4d3b4</string>
	<key>STORAGE_BUCKET</key>
	<string>b2bservice-4d3b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174324965951:ios:02caa9e01160590af74e8a</string>
</dict>
</plist>